.ctd-wdg-img-wrap {
	overflow: hidden;
}
.ctd-wdg-img-wrap img {
	margin: 0;
}
.ctd-wdg-img-wrap.alignleft,
.ctd-wdg-img-wrap.alignright,
.ctd-wdg-img-wrap.aligncenter {
    margin-bottom: 1.625em;
}

.ctd_wdg_btns a {
	text-indent: -9999px;
}

.ctd_wdg_btns a.ctd_wdg_create {
	width: 94px;
}

.ctd_wdg_btns a.ctd_wdg_shcart {
	width: 46px;
	margin-left: -6px;
}

.ctd_wdg_btns a.ctd_wdg_create,
.ctd_wdg_btns a.ctd_wdg_shcart {
	float: left;
	height: 50px;
	line-height: 0;
}

.ctd_wdg_btns a.ctd_wdg_create:hover,
.ctd_wdg_btns a.ctd_wdg_shcart:hover {
	-ms-filter: "alpha(opacity=50)";
	filter: alpha(opacity=50);
	-khtml-opacity: .50;
	-moz-opacity: .50;
	opacity: .50;
}

.ctd_wdg_style1 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/1.png') no-repeat 0 0;
}
.ctd_wdg_style2 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/2.png') no-repeat 0 0;
}
.ctd_wdg_style3 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/3.png') no-repeat 0 0;
}
.ctd_wdg_style4 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/4.png') no-repeat 0 0;
}
.ctd_wdg_style5 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/5.png') no-repeat 0 0;
}
.ctd_wdg_style6 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/6.png') no-repeat 0 0;
}
.ctd_wdg_style7 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/7.png') no-repeat 0 0;
}
.ctd_wdg_style8 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/8.png') no-repeat 0 0;
}
.ctd_wdg_style9 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/9.png') no-repeat 0 0;
}
.ctd_wdg_style10 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/10.png') no-repeat 0 0;
}

/*@group 2nd batch */
.ctd_wdg_style11 a.ctd_wdg_create,
.ctd_wdg_style12 a.ctd_wdg_create,
.ctd_wdg_style13 a.ctd_wdg_create,
.ctd_wdg_style14 a.ctd_wdg_create,
.ctd_wdg_style15 a.ctd_wdg_create {
	height: 25px;
}
.ctd_wdg_style11 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/11.png') no-repeat 0 0;
	width: 94px;
}
.ctd_wdg_style12 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/12.png') no-repeat 0 0;
	width: 128px;
}
.ctd_wdg_style13 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/13.png') no-repeat 0 0;
	width: 102px;
}
.ctd_wdg_style14 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/14.png') no-repeat 0 0;
	width: 136px;
}
.ctd_wdg_style15 a.ctd_wdg_create {
	background: url('http://w.ctast.com/images/buttons/15.png') no-repeat 0 0;
	width: 120px;
}
/*@end 2nd batch*/
/*@end*/
/*@group cart buttons */
.ctd_wdg_style1 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/1c.png') no-repeat 0 0;
}
.ctd_wdg_style2 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/2c.png') no-repeat 0 0;
}
.ctd_wdg_style3 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/3c.png') no-repeat 0 0;
}
.ctd_wdg_style4 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/4c.png') no-repeat 0 0;
}
.ctd_wdg_style5 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/5c.png') no-repeat 0 0;
}
.ctd_wdg_style6 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/6c.png') no-repeat 0 0;
}
.ctd_wdg_style7 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/7c.png') no-repeat 0 0;
}
.ctd_wdg_style8 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/8c.png') no-repeat 0 0;
}
.ctd_wdg_style9 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/9c.png') no-repeat 0 0;
}
.ctd_wdg_style10 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/10c.png') no-repeat 0 0;
}

.ctd_wdg_style11 a.ctd_wdg_shcart,
.ctd_wdg_style12 a.ctd_wdg_shcart,
.ctd_wdg_style13 a.ctd_wdg_shcart,
.ctd_wdg_style14 a.ctd_wdg_shcart,
.ctd_wdg_style15 a.ctd_wdg_shcart {
	background: url('http://w.ctast.com/images/buttons/11c.png') no-repeat 0 0;
	width: 28px;
	height: 25px;
	margin-left: 1px;
}